@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
}

fieldset {
    border:none;
    max-width: 50%;
    margin:auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#input {
    display:block;
    border-radius:4px;
    border:1px solid #544f4f6a;
    max-width: 50%;
    margin:0 auto;
}

#input:hover, #input:focus  {
    border-color: black;
    outline: 0.5px solid black; 
    transition: 0.6s;
}

#add {
    margin:auto;
    margin-top:10px;    
    background-color:black;
    color:white;
    border-style: none;
    display:block;
    border-radius:8px;
    padding:1% 6% 1% 6%;

}

#tasks li {
    list-style: none;
}

i {
    margin:0 4% 0 1%;
}

.task {
    display: inline-block;
    min-width:75%;
}
.fa-trash {
    display: none;
}


.task-li:hover > .fa-trash   {
    display: inline-block;
}


